*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col15 ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: white;
}

.col50 ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    color: white;
}

.col15{
    width: 15%;
}

.col50{
    width: 50%;
}

.col70{
    width: 70%;
}

.col30{
    width: 30%;
}

.col33{
    width: calc(100%/3 - 20px);
}

.containerhead{
    max-width: 1200px;
    margin: 0 100px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
}

header{
    background-color: #FF6800;
    height: 60px;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 1;
}

main{
    padding-top: 100px;
    padding-bottom: 100px;
}

footer{
    background-color: black;
    padding: 30px 0;
    height: 100px;
}

.headmargin{
    margin: 10px 20px;
}

.col70 img{
    width: 20%;
}

.col33 img{
    width: 100%;
}

.text-center{
    text-align: center;
}

.bgred{
    background-color: red;
    border: 1px dashed black;
    height: 400px;
}

.wrap{
    flex-wrap: wrap;
    gap: 10px 10px;
}

.disattiva{
    display: none;
}

.product:hover .attiva{
    display: none;
}

.product:hover .disattiva{
    display: block;
}

.product{
    position: relative;
}

.cuore{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 15px;
}

.sconto{
    position: absolute;
    bottom: 65px;
    left: 0;
    background-color: red;
    padding: 10px;
    color: white;
}

.etichetta{
    position: absolute;
    bottom: 65px;
    left: 65px;
    background-color: green;
    padding: 10px;
    color: white;
}

.brand{
    font-size: 15px;
}
.clothing{
    font-weight: bolder;
}

.price{
    color: #FF6800;
    font-weight: bold;
}

.discount{
    color: gray;
    text-decoration: line-through;
}

.col50 h3,h4{
    color: white;
}

.justify{
    justify-content: space-between;
}

.dxalign{
    text-align: right;
}